// Initialize
@import 'init';
// Local
@import 'loading';
@import 'login';

.bg-brand {
  background-color: $brand-color;
}

.text-brand {
  color: $brand-color;
}

.no-media {
  display: none;
}

.transaction {
  position: relative;
  height: 125px;
  width: 125px;
  text-align: center;
  margin: .5rem;
  @extend .border;
  @extend .border-secondary;
  @extend .rounded;

  :hover {
    .transaction-text {
      color: #000 !important;
      @extend .bg-light;
      opacity: 0.7;
    }
  }
}

.transaction a {
  height: 100%;
  width: 100%;
}

.transaction-internal {
  width: 100%;
}

.transaction-image {
  margin-top: .25rem;
}

.transaction-text {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @extend .bg-dark;
  opacity: 0.7;
  @extend .text-white;
  @extend .rounded-bottom;
}

.transaction-text * {
  position: relative;
}

@-o-keyframes fadeSuccess {
  0% {
    background: $light;
  }
  50% {
    background: $success;
  }
  100% {
    background: $light;
  }
}

@keyframes fadeSuccess {
  0% {
    background: $light;
  }
  50% {
    background: $success;
  }
  100% {
    background: $light;
  }
}

@-o-keyframes fadeError {
  0% {
    background: $light;
  }
  50% {
    background: $danger;
  }
  100% {
    background: $light;
  }
}

@keyframes fadeError {
  0% {
    background: $light;
  }
  50% {
    background: $danger;
  }
  100% {
    background: $light;
  }
}

.successAnimate {
  -o-animation: fadeSuccess 1s ease-in-out;
  animation: fadeSuccess 1s ease-in-out;
}

.errorAnimate {
  -o-animation: fadeError 1s ease-in-out;
  animation: fadeError 1s ease-in-out;
}
